<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        This is the header of the website
    </header>
    <ul>
        <li><a href="/">Home</li></a>
        <li><a href="/post-form">Post Form</li></a>
        <li><a href="/form">Form</li></a>
        <li><a href="/greet">Greet</li></a>
        <li><a href="/sportform">Sport Form</li></a>
        <li><a href="/shop">Shop Now</li></a>

    </ul>
    {% block header %} {% endblock %}
    <footer>
        This is footer of the website
    </footer>
</body>
</html>